body {
  background-color: white;
  font-family: Rubik, Arial;
  background-image:url(images/login-back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

form {
  text-align: center;
  line-height: 30px;
  height: 50%;
  overflow: auto;
}

form hr{
  width: 15%;
}

h1 {
  text-align: center;
}

.bt{
  float:center;
}
#overlay {
  width: 80%;
  margin: 3% auto;
  height: 80vh;
}

#logo {
  height: 80px;
  display: block;
  margin: auto;
}